body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .phoneWindow {
    width: 360px;
    height: 640px;
    background-color: black;
    border: 6px solid white;
    border-radius: 15px;
  
    header {
      margin: 0;
      font-size: 1.2rem;
      background-color: royalblue;
      text-align: center;
      overflow: hidden;
  
      h1 {
        margin: 0;
        padding-bottom: 10px;
      }
    }
  }