body {
    margin: 0;
    box-sizing: border-box;
  }
  

  .App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .phoneWindow {
    width: 360px;
    height: auto;
    background-color: black;
    border: 6px solid white;
    border-radius: 15px;
    overflow: hidden;
  
    header {
      margin: 0;
      font-size: 1.2rem;
      background-color: royalblue;
      text-align: center;
      overflow: hidden;
  
      h1 {
        margin: 0;
        padding-bottom: 10px;
      }
    }
  }