.attractionsWrap {
    font-size: 1.2rem;
    text-align: center;
    
    h3 {
      color: white;
    }

    .attractionCardWrap {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
}